* {
  box-sizing: border-box;
 
}

body{
	font-family: Arial, Open-Sans;
	margin: 0;
	padding: 0;
	overflow-x: hidden; 
	height: 0;
	

}

li{
	list-style-type: none;
}

a {
	text-decoration: none;
	color: black;
	font-family: Arial, Open-Sans;
	font-size: 15px;
	font-weight: bold;

}

#navNaam{
	display: flex;
	justify-content: space-between;
	position: relative;
	top: 30px;
	right: 80px;
	bottom: 20px;

}

#logo{
	position: relative;
	display: flex;
	justify-content: space-between;
	bottom: 40px;
	left: 100px;

}

#tekstHome{
	position: relative;
	bottom: 350px;
	left: 330px;
	color: white;
	font-weight: bold;
	font-size: 30px;
	text-shadow: 1px 3px darkgreen;

}

#tekstHome2{
	position: relative;
	bottom: 340px;
	left: 430px;
	color: white;
	font-weight: bold;
	font-size: 30px;
	text-shadow: 1px 3px red;
}

#tekstHome3{
	position: relative;
	bottom: 330px;
	left: 330px;
	color: white;
	font-weight: bold;
	font-size: 30px;
	text-shadow: 1px 3px darkgreen;


}

#afbeeldingKnop{
	position: relative;
	background-color: turquoise;
	font-weight: bold;
	width: 30%;
	height: 40px;
	border: 8px turquoise;
	bottom: 330px;
	left: 420px;
	border-radius: 12px;
}

#homeAfbeelding{
	max-width: 100%;
	height: 400px;
	
}

#rijschoolTekst{
	text-align: center;
}

#titelReden{
	display: flex;
	justify-content: space-between;
	position:relative;
}

#tekstReden{
	display: flex;
	justify-content: space-between;
}

#r1{
	left: 110px;
	position: relative;
	color: gold;
	
}

#r2{
	right: 105px;
	position: relative;
	color: gold;
	
}

#a1{
	max-width: 500px;
	position: relative;
	left: 30px;
}

#a2{ 
	max-width: 500px;
	position: relative;
	right: 30px;
 }


 #titelReden2{
 	display: flex;
 	justify-content: space-between;
 }

#tekstReden2{
	display: flex;
	justify-content: space-between;
}
 #r3{
 	left: 70px;
	position: relative;
	color: gold;
	
 }

 #r4{
 	right: 190px;
	position: relative;
	color: gold;
	
 }

 #a3{
 	max-width: 500px;
 	position: relative;
	left: 30px;
 }

 #a4{
 	max-width: 500px;
 	position: relative;
	right: 30px;
 }


 #containerHome{
 	bottom: 240px;
 	position: relative;
 }

/*
#vaardigheden{
	width: 100%;
	height: 200px;
	bottom: 160px;
	position: relative;
}

#autologo{
	position: relative;
	width: 5%;
	bottom: 350px;
	left: 30px;
}

#z1{
	position: relative;
	font-family: cursive;
	bottom: 440px;
	left: 100px;
	color: white;
	font-size: 20px;

}

#laagtarief{
	position: relative;
	width: 5%;
	bottom: 400px;
	left: 60px;

}
*/

#autologo{
	width: 10%;
	bottom: 200px;
	position: relative;
}

#v1{
	bottom: 300px;
	left: 120px;
	position: relative;
}

#geldicon{
	width: 10%;
	bottom: 410px;
	position: relative;
	left: 400px;
}

#v2{
	bottom: 485px;
	left: 520px;
	position: relative;
}

#lesicon{
	width: 6%;
	bottom: 580px;
	position: relative;
	left: 800px;
}

#v3{
	bottom: 630px;
	left: 900px;
	position: relative;
}

#containerMarketing{
	display: flex;
	position: relative;
	justify-content: space-between;
	bottom: 620px;
}

#v4{
	max-width: 300px;
	position: relative;
	left: 30px;
}

#v5{
	max-width: 300px;
	position: relative;
	right: 50px;
}

#v6{
	max-width: 300px;
	position: relative;
	right: 140px;
}

#footerHome{
	width: 100%;
	height: 300px;
	background-color: black;
	color: white;
}

#socialmediatitel{
	color: white;
}

#drielogos{
	position: relative;
	left: 42px;
}

footer{
	bottom: 600px;
	position: relative;
	color: white;
	background-color: black;

}

#telefoon_icon{
	width: 3%;
	left: 10px;
	top: 20px;
	position: relative;
}

#telefoonnummer{
	left: 60px;
	bottom: 25px;
	position: relative;
}

#email_icon{
	width: 3%;
	left: 300px;
	bottom: 80px;
	position: relative;
}

#emailadress{
	left: 360px;
	bottom: 130px;
	position: relative;
}

#telefoondiv{
	left: 80px;
	position: relative;
	top: 7px;
}

#emaildiv{
	left: 160px;
	position: relative;
	top: 15px;
}

#socialTekst{
	position: relative;
	bottom: 282px;
	left: 870px;
	color: white;
}

#socialmedia{
	position: relative;
	bottom: 350px;
	left: 970px;
	color: white;
}

#s1 li{
	list-style: none;
	margin: 10px 30px;
	display: inline-block;
	font-size: 20px;
	padding: 20px 20px;
	color: #fff;
	border: 1px solid #fff;
	border-radius: 50%;
	transition: .5s;
}

#s2 li{
	list-style: none;
	margin: 10px 30px;
	display: inline-block;
	font-size: 20px;
	padding: 20px 20px;
	color: #fff;
	border: 1px solid #fff;
	border-radius: 50%;
	transition: .5s;
}

#s1, #s2{
	transform: translate(-53%, -50%);
}

#s1{
	top: 100px;
	position: relative;
	left: 500px;
}

#s2{
	top: 90px;
	position: relative;
	left: 540px;
}

#socialmedia li:hover {
	color: #292929;
	border: 1px solid #292929;
	transition: -5s;
	
}

#bezoekadres{
	bottom: 400px;
	position: relative;
	left: 100px;
	color: white;
}

#postadres{
	bottom: 470px;
	position: relative;
	left: 500px;
	color: white;
}

#bezoekadrestekst{
	position: relative;
	bottom: 400px;
	left: 100px;
	color: white;
}

#postadrestekst{
	position: relative;
	bottom: 470px;
	left: 500px;
	color: white;
}

#postdiv{
	position: relative;
	right: 40px;
}

#proeflescadeau_img{
	width: 100%;
	height: 300px;
}

#proeflestekst{
	left: 310px;
	position: relative;
	color: turquoise;
}

#inputsProefles{
	position: relative;
	left: 385px;
}

#inputsProefles input{
	width: 400px;
	padding: 12px 20px;
	margin: 8px 0px;
	color: black;
	font-weight: bold;
}

#knopProefles{
	border-radius: 12px;
	background-color: turquoise;
	color: black;
	font-weight: bold;
	position: relative;
	border: 8px turquoise;
	left: 380px;
	width: 400px;
	height: 62px;
	box-shadow: 1px 10px lightblue;
}

#knopProefles:hover{
	background-color: #3e8e41;
}

#knopProefles:active{
  background-color: #3e8e41;
  box-shadow: 0 5px #555;
  transform: translateY(4px);
}

#vinkje{
	width: 30%;
	height: 300px;
	position: relative;
}

#vinkje2{
	width: 30%;
	height: 300px;
	position: relative;
	left: 500px;
}

#vinkje3{
	width: 30%;
	height: 300px;
	position: relative;
	right: 350px;
}

#m1{
	font-size: 20px;
	position: relative;
	top: 10px;
	left: 10px;
	font-weight: bold;
	color: green;
}

#contact_foto{
	width: 100%;
	height: 400px;
}

#a100{
	color: white;
	position: relative;
	bottom: 300px;
	left: 400px;
}

#a101{
	color: white;
	position: relative;
	bottom: 270px;
	left: 250px;
}

#a102{
	position: relative;
	left: 50px;
}

#a103{
	position: relative;
	font-family: cursive;
	left: 50px;
}

#contacti1{
	position: relative;
	left: 50px;
	width: 540px;
	padding: 12px 20px;
	margin: 8px 0px;
	color: black;
	font-weight: bold;
}

#contacti2{
	position: relative;
	left: 50px;
	width: 540px;
	padding: 12px 20px;
	margin: 8px 0px;
	color: black;
	font-weight: bold;


}

#contacti3{
	position: relative;
	left: 50px;
	width: 540px;
	padding: 30px 25px;
	margin: 8px 0px;
	color: black;
	font-weight: bold;
}

#contactknop{
	background-color: dodgerblue;
	border: dodgerblue;
	width: 200px;
	height: 40px;
	position: relative;
	left: 50px;
	color: white;
	font-size: 20px;
	font-family: 'Alfa Slab One';
	font-weight: bold;
	border-radius: 8px;
}

#telnummer{
	position: relative;
	bottom: 390px;
	left: 800px;
	font-size: 20px;
	font-weight: bold;
	color: dodgerblue;
}

#t100{
	position: relative;
	bottom: 390px;
	left: 870px;
	font-size: 17px;
}

#emailinfo{
	position: relative;
	bottom: 300px;
	left: 840px;


}

#emailcontact{
	position: relative;
	bottom: 50px;
	font-size: 17px;
	left: 20px;
	font-weight: bold;
	color: dodgerblue;
}


#t101{
	position: relative;
	bottom: 50px;
	font-size: 17px;
	right: 40px;

}

#adrescontact{
	font-size: 17px;
	font-weight: bold;
	right: 40px;
	position: relative;
	color: dodgerblue;
}

#containercontact{
	position: relative;
	bottom: 60px;
}

#maintenance1{
	position: relative;
	left: 150px;
}

#maintenance2{
	position: relative;
	left: 500px;
}


#highway_img{
	width: 100%;
	height: 400px;
}

#rijlesh1{
	text-align: center;
	color: dodgerblue;
}

#rijlesh2{
	text-align: center;
	
}

#wrappakket1{
		background-image: linear-gradient(#cd7f32 , brown );
		max-width: 29%;
		height: 600px;
		box-shadow: 1px 10px #cd7f32 ;
		border-radius: 50px;
		position: relative;
		left: 20px;
}

#wrappakket2{
		background-image: linear-gradient(silver, grey);
		max-width: 29%;
		height: 600px;
		box-shadow: 1px 10px lightgrey;
		border-radius: 50px;
		position: relative;
		left: 20px;
}

#wrappakket3{
		background-image: linear-gradient(gold, yellow);
		max-width: 29%;
		height: 600px;
		box-shadow: 1px 10px gold;
		border-radius: 50px;
		position: relative;
		right: 12px;

}

#containerrijles{
		display: flex;
		position: relative;
		justify-content: space-between;
	}

#fotopakket{
		position: relative;
		left: 55px;
	}

#pakket{
		text-align: center;
	}

#prijs{
	border: 1px solid black;
	background-color: black;
	width: 110px;
	height: 28px;
	position: relative;
	display: flex;
	left: 250px;
	font-size: 20px;
	color: green;
	font-weight: bold;
	}

#motorrijlestekst{
	text-align: center;
}

#containermotorrijles{
	display: flex;
	justify-content: space-between;
}

#wrappakketmotor1{
		background-image: linear-gradient(#cd7f32 , brown );
		max-width: 29%;
		height: 600px;
		box-shadow: 1px 10px #cd7f32 ;
		border-radius: 50px;
		position: relative;
		left: 20px;
}

#wrappakketmotor2{
		background-image: linear-gradient(silver, grey);
		max-width: 29%;
		height: 600px;
		box-shadow: 1px 10px lightgrey;
		border-radius: 50px;
		position: relative;
		left: 20px;
}

#wrappakketmotor3{
	background-image: linear-gradient(gold, yellow);
		max-width: 29%;
		height: 600px;
		box-shadow: 1px 10px gold;
		border-radius: 50px;
		position: relative;
		right: 12px;

}

#scooterrijlestekst{
	text-align: center;
}

#containerscooterrijles{
	display: flex;
	justify-content: space-between;
}

#wrappakketscooter1{
	background-image: linear-gradient(#cd7f32 , brown );
		max-width: 29%;
		height: 600px;
		box-shadow: 1px 10px #cd7f32 ;
		border-radius: 50px;
		position: relative;
		left: 20px;
}

#wrappakketscooter2{
	background-image: linear-gradient(silver, grey);
		max-width: 29%;
		height: 600px;
		box-shadow: 1px 10px lightgrey;
		border-radius: 50px;
		position: relative;
		left: 20px;
}

#wrappakketscooter3{
	background-image: linear-gradient(gold, yellow);
		max-width: 29%;
		height: 600px;
		box-shadow: 1px 10px gold;
		border-radius: 50px;
		position: relative;
		right: 12px;
}

.uitleg{
	position: relative;
	left: 8px;
}


#overons_img{
	width: 100%;
	height: 400px;
}

#overonst1{
	text-align: center;
}

#overonstekst{
	max-width: 450px;
	text-align: center;
	position: relative;
	left: 400px;
}

#geschiedenisfoto{
	width: 100%;
	height: 400px;
}

#onsgeschiedenis{
	text-align: center;
}

#onsgeschiedenistekst{
	max-width: 450px;
	text-align: center;
	position: relative;
	left: 400px;
}

#afbeeldingrekentool{
	width: 100%;
	height: 400px;
}

#rekentooltekst{
	position: relative;
	bottom: 270px;
	left: 500px;
	font-size: 50px;
}

#teksttarieven1{
	text-align: center;
}

#m200{
	text-align: center;

}

 